<div class="panel panel-default" *ngFor="let object of objects">
    <div class="panel-heading">
        <h3 class="panel-title">{{object.title}}</h3>
    </div>
    <div class="panel-body">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object">
            </a>
            <div class="media-body">
                {{object.description}}
            </div>
        </div>
    </div>
</div>